<!DOCTYPE html>
<html xmlns="http://www.w3.org.1999/xhtml"
	xmlns:th="http:/www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<title>Error Message Page</title>
</head>
<body>
	<h1 th:text="${message}">ERROR MESSAGE</h1>
	<a href="http://localhost:8080/registerHome">Home</a>
	<a href="http://localhost:8080/logout">Log Out</a>
</body>
</html>