<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div>
		<form action="#" th:action="@{/productSearch}" th:object="${product}"
			method="post">
			<table>
				<tr>
					<td><H3>
							<i>ID</i>
						</H3></td>
					<td><input type="text" th:value="${ID}" th:field="*{id}"></td>
				</tr>
				<tr>
					<td>
						<button type="submit">Submit</button>
					</td>
				</tr>
			</table>
		</form>
		<p>
			<a href="http://localhost:8080/logout">Log Out</a>
		</p>
		<p>
			<a href="http://localhost:8080/registerHome">Home</a>
		</p>
	</div>

</body>
</html>