<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet" />
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1 th:inline="text">Hey [[${#httpServletRequest.remoteUser}]]!</h1>
	<p>
		<b>Roles you possess:</b>
	</p>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<p>
			<a href="http://localhost:8080/deleteProduct">DeleteProduct</a>
		</p>
		<p>
			<a href="http://localhost:8080/deleteCustomer">DeleteCustomer</a>
		</p>
		<p>
			<a href="http://localhost:8080/browsePurchaseOrders">ViewPurchaseOrder</a>
		</p>
	</div>
	<div sec:authorize="hasRole('ROLE_EMP')">
		<p>
			<a href="http://localhost:8080/addProduct">AddProduct</a>
		</p>
	</div>
	<div sec:authorize="hasRole('ROLE_CUSTOMER')">
		<p>
			<a href="http://localhost:8080/productSearch">Search Product</a>
		</p>
		<p>
			<a href="http://localhost:8080/viewCart">View Cart</a>
		</p>
		<p>
			<a href="http://localhost:8080/orderHistory">Order History</a>
		</p>

	</div>
	<p>
		<a href="http://localhost:8080/listProducts">Prduct List</a>
	</p>

	<p>
		<b>Who you are to the system:</b>
	</p>
	<p>
		Logged user: <span sec:authentication="name">Bob</span>

	</p>
	<p>
		Roles: <span sec:authentication="authorities">[ROLE_CUSTOMER,
			ROLE_ADMIN,ROLE_EMP]</span>
	</p>
	<a href="http://localhost:8080/">Default-Page</a>

	<a href="http://localhost:8080/logout">Log Out</a>
	<!-- <form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form> -->
</body>
</html>